@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular&display=swap);

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
    object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
    color: #3D5675;
    font-family: Roboto;
}
body {
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.__container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
}
/* -------Head style---------------------------------*/
.header {
    width: calc(100% - 20px);
    left: 0%;
    top: 0%;
    z-index: 50;
}
@media (min-width: 500px) {
    .header__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        min-height: 61px;
        align-items: center;
        padding: 10px;
        box-sizing: content-box;
        border-bottom: 2px solid silver;
    }
}
@media screen {
    .header__container {
        min-width: 70px
    }
}
.header__logo {
    margin-right: 1rem;
    height: 24px;
    left: 1.67%;
    right: 92.43%;
    top: 19px;
}
.header__menu {
    max-width: 1200px;
    margin: 8.5px 222px 8.5px 222px;
    height: 44px;
    padding: 13px 0px 13px 0px;
}
.menu {
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.menu__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
}
.menu__link {
    color: #011F3A;
    line-height: 129%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#header__end {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    height: 44px;
    max-width: 160px;
    padding: 13px 0px 13px 0px;
}
#basket {
    margin-left: 30px;
}
#stars {
    margin-right: 14px;
}
#arrow {
    margin-left: 10px;
}
#account {
    text-align: center;
}