@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular&display=swap);

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    top: 0%;
    right: 0%;
    object-fit: cover;
}
img {
    vertical-align: top;
    object-fit: cover;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-green {
    background-color: #72BDA3;
}
.bg-grey {
    background-color: #E5E5E5;
}
.bg-cheese {
    background-color: #FFCA3A;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
    color: #3D5675;
    font-family: Roboto;
}
body {
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.__container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
}
/* -------Head style---------------------------------*/
.header {
    /* position: absolute; */
    width: calc(100% - 20px);
    left: 0%;
    top: 0%;
    z-index: 50;
}
@media (min-width: 500px) {
    .header__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        min-height: 61px;
        align-items: center;
        padding: 10px;
        box-sizing: content-box;
        background-color: #FFFFFF;
    }
}
@media screen {
    .header__container {
        min-width: 70px
    }
}
.header__logo {
    margin-right: 1rem;
    height: 24px;
    left: 1.67%;
    right: 92.43%;
    top: 19px;
}
.header__menu {
    max-width: 1200px;
    margin: 8.5px 222px 8.5px 222px;
    height: 44px;
    padding: 13px 0px 13px 0px;
}
.menu {
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 21px;
}
.menu__item {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.menu__item:hover {
    border-radius: 44px;
    border-spacing: 120%;
    border: 1px solid #0d61c7 ;
    background: #dba020;
}
.menu__item:active {
    box-shadow: 2px 2px #011F3A;
}
.menu__item:not(:last-child) {
    padding: 0px 25px 13px 25px;
}
.menu__link {
    color: #011F3A;
    line-height: 129%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1.96px;
}
#header__end {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    height: 44px;
    max-width: 160px;
    padding: 13px 0px 13px 0px;
}
#basket {
    margin-left: 30px;
}
#stars {
    margin-right: 14px;
}
#about {
    padding: 0px 10px 13px 25px;
}
#arrow {
    margin-left: 10px;
}
#account {
    text-align: center;
    padding: 13px 30px 13px px;
}
/* -----------Page style---------------------------- */
.page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.page__main-block {
    width: 100%;
    background-color: #F2AE4D;
    max-height: 690px;
}
.page__certifications {
    /* display: flex;
    flex: 1 1 auto; */
    max-height: 120px;
    width: 100%;
    background-color: #FFFFFF;
}
.page__examples {
}
.page__order {
}
.page__advantage {
    height: 766px;
}
.page__options {
}
/* -----------Main style---------------------------- */

.main-block {

}
.main-block__container {
    
}
.__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
}
.main-block__body {
    z-index: 2;
    margin: 144.5px 316px 205.5px 0px;
}
.main-block__title {
    font-size: 48px;
    line-height: calc(56 / 48 * 100%);
    font-weight: 400;
    color: #011F3A;
    max-width: 480px;
    margin: 20.5px 20px 33px 0px;
}
.main-block__text {
    color: #011F3A;
    line-height: calc(24 / 15 * 100%);
    max-width: 277px;
}
.main-block__button {
    display: flex;
    max-width: 228px;
    min-height: 56px;
    background-color: #3D5675;
    border-radius: 44px;
    justify-content: center;
    align-items: center;
    margin: 14px 272px 0px 0px;
}
.main-block__button:hover {
    background-color: #6692c7;
}
.main-block__button:active {
    box-shadow: 2px 3px #0d61c7;
}
.startButton {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    color: #FFFFFF;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}
.startButton:hover {
    text-decoration: underline;
}
.main-block__image {
    position: absolute;
    left: 65%;
    right: 0%;
    top: 148px;
}
/* -----------Certification section style---------------------------- */
.certifications__container {
    display: flex;
    flex: 1 1 auto;
    width: 1200px;
    display: flex;
    flex: 1 1 auto;
}
/* -----------Certification style---------------------------- */
.certifications {
    margin-top: 0%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}
.certifications__items {
    max-width: 1200px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1 1 auto;
    align-items: center;
    margin: 0px auto 0px auto;
    justify-content: center;
}
.item-certificat {
    display: flex;
    padding: 0 15px;
}
.item-certificat:not(:last-child) {
    margin-right: 285.5px;
}
.item-certificat__icon  img{
    max-width: 100%;
}
.certificat-item__text {
    margin: 21px 0px 21px 16px;
    letter-spacing: 0.6px;
    color: #A1A1A1;
    font-style: normal;
    line-height: 127%;
}
.certificat-item__text:hover {
    border-radius: 3.75px;
    background-color: #6692c7;
    color: aliceblue;
}
#shopyBlock {
    max-width: 249px;
}
#amazonBlock {
    max-width: 172px;
}
#ecoBlock {
    max-width: 208px;
}
#shopyfyText {
    max-width: 91px;
}
#amazonText {
    max-width: 76px;
}
#ecoText {
    max-width: 67px;
    padding-right: 7px;
}
/* ----------------Examples style----------------------------- */
.examples {
}
.examples__container {
}
.examples-title {
    min-height: 44px;
    margin: 57px 0px 57px 0px;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}
.title-h2 {
    margin-bottom: 6px;
    font-style: normal;
    font-size: 32px;
    line-height: 118%;
    color: #011F3A;
}
.link-brows {
    display: flex;
    width: 247px;
    min-height: 44px;
    background-color: #3D5675;
    border-radius: 44px;
    justify-content: center;
    align-items: center;
}
.browse-product {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}
.grid-examples {
    max-height: 864px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2px
}
.item-example__title {
    margin-top: 24px;
    margin-bottom: 2px;
    margin-left: 25px;
    color: #011F3A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.36px;
}
.no-price{
    margin-bottom: 8px;
}
.grid-item {
}
.grid-item-01 {
}
.item-example__img {
}
.item-example__text {
    display: flex;
    max-width: 350px;
    min-height: 72px;
    margin: 0px 25px 4px 25px;
}
.discribe {
    margin-top: 6px;
    margin-right: 60px;
    width: 209px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #777777;
}
.start-at {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: right;
    color: #A1A1A1;
    padding-top: 3.8px;
}
.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #A1A1A1;
}
.grid-item-02 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #777777;
}
#CustBoxes {
    margin-right: 183px;
}
.grid-item-03{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #777777;
}
#CustCushion {
    margin-right: 160px;
}
#perfect {
    margin-bottom: 25px;
}
.invitation-shop {
    width: 386px; 
    min-height: 44px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 46px 0px 50px 407px;
}
.invitation-shop__text {
    margin: 10px 16px 10px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    color: #A1A1A1;
}
.invitation-shopButt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    border-radius: 44px;
    background-color: #FFFFFF;
    width: 158px;
}
.shop-stock__link {
    color: #3D5675;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    letter-spacing: 1.96px;
}
/* -----------Order style---------------------------- */
.order {
    min-height: 914px;
}
.orderBlock {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    height: 774px;
}
.title-order {
    margin: 88px 215px 46px 215px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 128%;
    text-align: center;
    color: #011F3A;
}
.grid-orders {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid-order {
    margin-right: 50px;
    margin-left: 50px;
    max-width: 300px;
    min-height: 391px;
}
.item-1 {
}
.item-order__img {
}
.item-order__text {
    max-width: 200px;
    height: 91px;
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
    justify-content: center;
}
.item__title {
    margin-top: 12px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    text-align: center;
    letter-spacing: 0.36px;
    color: #011F3A;
}
.item__discribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #3D5675;
}
.item-2 {
}
.item-3 {
}
.buttonBlock {
    margin: 76px 0px 88px 0px;
    display: flex;
    justify-content: space-around;
}
.orderButton {
    display: flex;
    width: 220px;
    height: 44px;
    background-color: #3D5675;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
}
.startButton {
}
/* ------------Advantages style----------------- */
.advantage {
}
.advantage__container {
}
.advantageBlock {
    display: flex;
    flex-direction: column;
    height: 624px;
    margin-bottom: 142px;
}
.title-advantage {
    margin: 88px 71.17% 82px 3.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 128%;
    color: #011F3A;
}
.grid-advantages {
    max-width: 1116px;
    margin-right: 42px;
    margin-left: 42px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid-advantage-item {
    max-width: 254px;
}
.grid-advantage-item:not(:last-child) {
    margin-right: 177px;
}
.item1 {
    
}
.advantage-item__img {
}
.advantage-item__text {
    max-width: inherit;
}
.advantage-item__title {
    margin-top: 54px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: 0.36px;
    color: #011F3A;
}
.adv-item__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #A1A1A1;
}
.item2 .adv-item__description {
    max-width: 234px;
}
.item3 {
    
}
#addwidth {
    max-width: 204px;
}
/* ------------Options style------------*/
.options {
    height: 730px;
}
.options__container {
}
.optionsBlock {
    margin: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    height: 610px;
    justify-content:center;
    align-items: center;
}
.optionBlock-left,
.optionBlock-right {
    margin: 110px 0px 90px 0px;
    max-width: 600px;
    min-height: 410px;
}
.optionBlock-right {
    border-left: 0.5px solid rgba(161, 161, 161, 0.4);
}
.optionBlock-left {
    border-right: 0.5px solid rgba(161, 161, 161, 0.4);
}
.optionBlock-item {
    max-width: 360px;
    margin: 0px 120px 0px 120px;
}
.item-left {
    min-height: 386px;
    margin-bottom: 24px;
}
.item-right {
    min-height: 410px;
}
.optionBlock-item__img {
    margin: 0px 75px 0px 75px;
}
.optionBlock-item__title {
    margin: 24px auto 14px auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #011F3A;
}
.optionBlock-item__description {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #3D5675;
}
.description-left {
    margin: 0px 25px 10px 25px;
}
.description-right {
    
}
.optionBlock-item__link {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 44px;
    max-width: 196px;
}
.link-left {
    margin: 0px 78px 0px 78px;
}
.link-right {
    margin: 0px 82px 0px 82px;
}
.request {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    color: #3D5675;
}
/* --------------Feedback`s style----------------- */
.page__feedbacks {
}
.feedbacks {
    height: 1548px;
}
.feedback__container {
}
.page-feedback-title {
    margin-top: 88px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32 * 100%);
    text-align: center;
    color: #011F3A;
}
.grid-feedback {
    display: grid;
    margin: 59px auto 57px auto;
    height: 1306px;
    grid-template-rows: 1 1 auto;
}
.brandsBlock {
    display: flex;
    flex: 1 1 auto;
}
.betweenBlock {
    margin-top: 122px;
    margin-bottom: 122px;
    height: 70px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 0px;
}
.googleBlock {
    margin: 100px 182px 100px 190px;
    justify-content: center;
    align-items: center;
    height: 114px;
    width: 208px;
}
.logo-brend {
}
.estimateBlock {
    display: flex;
    margin: 20px 43px 0px 43px;
    width: 160px;
    align-items: center;
}
.star {
}
.number {
    margin-left: 4px;
}
.shopifyBlock {
    margin: 100px 190px 100px 182px;
    justify-content: center;
    align-items: center;
    height: 114px;
    width: 246px;
}
.grid-feedback__item {
    display: flex;
    flex: 1 1 auto;
    height: 294px;
    column-gap: 106px;
}
.grid-feedback__item:not(:last-child) {
    margin-bottom: 55px;
}
.fb-item-1 {    
}
.itemBlock__img {
    display: flex;
}
.itemBlock__story {
    max-width: 400px;
    height: 169px;
}
.story-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #011F3A;
}
.authorBlock {
    display: flex;
    column-gap: 18px;
    align-content: center;
}
.bioBlock {
    display: flex;
    max-width: 222px;
}
.avatar {
}
.name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #011F3A;
}
.nikname {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #A1A1A1;
}
.story-link {
    display: flex;
    background: #F2F2F2;
    border-radius: 44px;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 160px;
}
.link-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 1.96px;
    text-align: center;
    text-transform: uppercase;
    color: #3D5675;
}
.fb-item-2 {
    flex-direction: row-reverse;
}
.fb-item-3 {
}