@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular&display=swap);

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    top: 0%;
    right: 0%;
    object-fit: cover;
}
img {
    vertical-align: top;
    object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
    color: #3D5675;
    font-family: Roboto;
}
body {
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.__container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
}
/* -------Head style---------------------------------*/
.header {
    /* position: absolute; */
    width: calc(100% - 20px);
    left: 0%;
    top: 0%;
    z-index: 50;
}
@media (min-width: 500px) {
    .header__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        min-height: 61px;
        align-items: center;
        padding: 10px;
        box-sizing: content-box;
        background-color: #FFFFFF;
    }
}
@media screen {
    .header__container {
        min-width: 70px
    }
}
.header__logo {
    margin-right: 1rem;
    height: 24px;
    left: 1.67%;
    right: 92.43%;
    top: 19px;
}
.header__menu {
    max-width: 1200px;
    margin: 8.5px 222px 8.5px 222px;
    height: 44px;
    padding: 13px 0px 13px 0px;
}
.menu {
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 21px;
}
.menu__item {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.menu__item:hover {
    border-radius: 44px;
    border-spacing: 120%;
    border: 1px solid #0d61c7 ;
    background: #dba020;
}
.menu__item:active {
    box-shadow: 2px 2px #011F3A;
}
.menu__item:not(:last-child) {
    padding: 0px 25px 13px 25px;
}
.menu__link {
    color: #011F3A;
    line-height: 129%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1.96px;
}
#header__end {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    height: 44px;
    max-width: 160px;
    padding: 13px 0px 13px 0px;
}
#basket {
    margin-left: 30px;
}
#stars {
    margin-right: 14px;
}
#about {
    padding: 0px 10px 13px 25px;
}
#arrow {
    margin-left: 10px;
}
#account {
    text-align: center;
    padding: 13px 30px 13px px;
}
/* -----------Page style---------------------------- */
.page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.page__main-block {
    width: 100%;
    background-color: #F2AE4D;
    max-height: 690px;
}
.page__certifications {
    /* display: flex;
    flex: 1 1 auto; */
    max-height: 120px;
    width: 100%;
    background-color: #FFFFFF;
}
/* -----------Main style---------------------------- */

.main-block {

}
.main-block__container {
    
}
.__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: content-box;
}
.main-block__body {
    z-index: 2;
    margin: 144.5px 316px 205.5px 0px;
}
.main-block__title {
    font-size: 48px;
    line-height: calc(56 / 48 * 100%);
    font-weight: 400;
    color: #011F3A;
    max-width: 480px;
    margin: 20.5px 20px 33px 0px;
}
.main-block__text {
    color: #011F3A;
    line-height: calc(24 / 15 * 100%);
    max-width: 277px;
}
.main-block__button {
    display: flex;
    max-width: 228px;
    min-height: 56px;
    background-color: #3D5675;
    border-radius: 44px;
    justify-content: center;
    align-items: center;
    margin: 14px 272px 0px 0px;
}
.main-block__button:hover {
    background-color: #6692c7;
}
.main-block__button:active {
    box-shadow: 2px 3px #0d61c7;
}
.startButton {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    color: #FFFFFF;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}
.startButton:hover {
    text-decoration: underline;
}
.main-block__image {
    position: absolute;
    left: 65%;
    right: 0%;
    top: 148px;
}
/* -----------Certification section style---------------------------- */
.certifications__container {
    display: flex;
    flex: 1 1 auto;
    width: 1200px;
    display: flex;
    flex: 1 1 auto;
}
/* -----------Certification style---------------------------- */
.certifications {
    margin-top: 0%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}
.certifications__items {
    max-width: 1200px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1 1 auto;
    align-items: center;
    margin: 0px auto 0px auto;
    justify-content: center;
}
.item-certificat {
    display: flex;
    padding: 0 15px;
}
.item-certificat:not(:last-child) {
    margin-right: 285.5px;
}
.item-certificat__icon  img{
    max-width: 100%;
}
.certificat-item__text {
    margin: 21px 0px 21px 16px;
    letter-spacing: 0.6px;
    color: #A1A1A1;
    font-style: normal;
    line-height: 127%;
}
.certificat-item__text:hover {
    border-radius: 3.75px;
    background-color: #6692c7;
    color: aliceblue;
}
#shopyBlock {
    max-width: 249px;
}
#amazonBlock {
    max-width: 172px;
}
#ecoBlock {
    max-width: 208px;
}
#shopyfyText {
    max-width: 91px;
}
#amazonText {
    max-width: 76px;
}
#ecoText {
    max-width: 67px;
    padding-right: 7px;
}