@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular&display=swap);

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
    color: #3D5675;
    font-family: Roboto;
}
body {
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.__container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
/* -------Head style---------------------------------*/
.header {
    width: calc(100% - 20px);
    left: 0%;
    top: 0%;
    z-index: 50;
}
.header__container {
    position: relative;
    max-width: 1400px;
    display: flex;
    min-height: 61px;
    align-items: center;
}
.header__logo {
    height: 24px;
    left: 1.67%;
    right: 92.43%;
    top: 19px;
}
.header__menu {
    display: flex;
    margin: 8.5px 221.67px 8.5px 221.67px;
    height: 44px;
    padding: 13px 0px 13px 0px;
}
.menu {
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    flex-wrap: wrap;
    /* display: flex; */
}
.menu__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
}
.menu__link {
    color: #011F3A;
    line-height: 129%;
    text-transform: uppercase;
}
#header__end {
    display: flex;
    height: 44px;
    max-width: 157px;
    left: 87.45%;
    right: 1.67%;
    top: 8.5px;
    background-color: rgb(113, 230, 230);
    align-items: center;
}
#basket {
    margin-left: 30px;
}
#stars {
    margin-right: 14px;
}
#arrow {
    margin-left: 10px;
}